body {
    background-color: #e0d4fe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #677786;
    font-family: "roboto";
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #ffffff;
}

#screen {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#displayed-text {
    font-size: 60px;
    text-align: right;
    margin: 12px;
}

#buttons {
    display: flex;
    flex-direction: column;
    height: 360px;
    margin: 12px;
    font-size: 25px;
    /*    gap: 4px;*/
}

#operations {
    display: flex;
    flex: 1;
    /*    gap: 4px;*/
}

#operations div,
#operands div div {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 4px;
}

#operations div {
    background-color: #d3dde5;
}

#operations div:hover {
    background-color: #677786;
    color: #d3dde5;
}

#operands div div {
    background-color: #f0f0f1;
}

#operands div div:hover {
    background-color: #677786;
    color: #f0f0f1;
}

#operands div
/*rows*/
    {
    display: flex;
    flex: 1;
    /*    gap: 4px;*/
}

#operands-and-equal {
    display: flex;
    flex: 4;
    /*    gap: 4px;*/
}

#operands {
    flex: 3;
    display: flex;
    flex-direction: column;
    /*    gap: 4px;*/
}

#equal {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ac8cff;
    border-radius: 999px;
    color: #ffffff;
}

#equal:hover{
    background-color: #4a3c6c;
}